.expense-form {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.expense-form label {
  margin-top: 1rem;
  font-weight: bold;
  color: #2f3640;
}

.expense-form input,
.expense-form textarea {
  margin-top: 0.5rem;
  padding: 0.8rem;
  border: 1px solid #dcdde1;
  border-radius: 5px;
  font-size: 1rem;
}

.expense-form button {
  margin-top: 1.5rem;
  padding: 0.8rem;
  border: none;
  background-color: #276775;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.expense-form button:hover {
  background-color: rgb(92, 153, 158);
}