<form [formGroup]="form" (ngSubmit)="onSubmit()" class="expense-form">
  <label>
    Amount:
    <input type="number" formControlName="amount">
  </label>
  <label>
    Date:
    <input type="date" formControlName="date">
  </label>
  <label>
    Description:
    <input type="text" formControlName="description">
  </label>
    <label>
    Category:
    <select class="form-control" formControlName="category">
      <option *ngFor="let category of categories">{{category}}</option>
    </select>
  </label>
  <br>
  <button type="submit">Add expense</button>
</form>